<!--header strat here-->
<div class="banner1 agileits">
  <div class="header">
    <div class="container">
      <div class="header-main">
        <div class="logo">
          <h1><span class="books"></span> <a href="index.html">PLC English</a></h1>
        </div>
        <div class="top-nav">
          <span class="menu"> <img src="../../assets/images/icon.png" alt=""></span>
          <nav class="cl-effect-21" id="cl-effect-21">
            <ul class="res">
              <li><a href="/main" class="active">Trang chủ</a></li>
              <li><a href="/about">Về chúng tôi</a></li>
              <li><a href="/course">Khóa học</a></li>
              <li><a href="/login">Đăng nhập</a></li>
              <li><a href="/contact">Liên hệ</a></li>
            </ul>
          </nav>
          <!-- script-for-menu -->
          <script>
            $("span.menu").click(function () {
              $("ul.res").slideToggle(300, function () {
                // Animation complete.
              });
            });
          </script>
          <!-- /script-for-menu -->

        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
<!--header end here-->
<!--banner end here-->
<!--tab start here-->
<script type="text/javascript" src="../../assets/js/colorfulTab.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {

    $("#colorful").colorfulTab();

    $("#colorful-elliptic").colorfulTab({
      theme: "elliptic"
    });

    $("#colorful-flatline").colorfulTab({
      theme: "flatline"
    });

    $("#colorful-background-image").colorfulTab({
      theme: "flatline",
      backgroundImage: "true",
      overlayColor: "#002F68",
      overlayOpacity: "0.8"
    });

  });
</script>
<!--tab start here-->
<!--contact start here-->
<div class="contact">
  <div class="container">
    <div class="contact-main">
      <div class="contact-top">
        <h2 style="font-family: Arial, Helvetica, sans-serif;">Đăng nhập</h2>
        <p>Chào mừng đến với trung tâm ngoại ngữ PLC
        </p>
      </div>
      <div class="contact-block1">
        <div class="col-md-3 contact-block-left"></div>
        <div class="col-md-6 contact-block-left">
          <input style="width: 100%;" type="text" placeholder="Username" required [(ngModel)]="username">
          <input style="width: 100%;" type="password" placeholder="Password" required [(ngModel)]="password">
          <input style="float: left;" type="checkbox" id="remember"> <label
            style="margin-left: 7px; margin-top: 5px; font-size: 1em;" for="remember"> Nhớ mật khẩu</label>
          <input style="float: right;" type="button" value="Login" (click)="login()">
        </div>
      </div>
      <div class="col-md-3 contact-block-left"></div>
      <div class="clearfix"> </div>
    </div>
    <div class="contact-map">
      <br><br><br><br><br>
    </div>
  </div>
</div>

<!--contact end here-->

<!--footer start here-->
<div class="footer w3ls">
  <div class="container">
    <div class="footer-main">
      <div class="footer-top">
        <div class="col-md-4 ftr-grid">
          <h3 style="font-family: 'Times New Roman', Times, serif;">Giới thiệu</h3>
          <div class="ftr-address">
            <div class="local">
              <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
            <div class="ftr-text">
              <p>Ngày thành lập : 20-10-2018</p>
            </div>
            <div class="clearfix"> </div>
          </div>

          <div class="ftr-address">
            <div class="local">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="ftr-text">
              <p>Giải thưởng: Giấy chứng nhận Quốc tế về đào tạo ngoại ngữ</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="ftr-address">
            <div class="local">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </div>
            <div class="ftr-text">
              <p>Email: plc.english.vn@gmail.com </p>
            </div>
            <div class="clearfix"> </div>
          </div>

          <div class="ftr-address">
            <div class="local">
              <span style="font-size:24px;color: #fff; margin-left: 6px;" class="fa fa-facebook-square"
                aria-hidden="true"></span>
            </div>
            <div class="ftr-text">
              <p><a href="https://www.facebook.com/TrungtamngoainguPLC/">https://www.facebook.com/TrungtamngoainguPLC/
                </a></p>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="col-md-2 ftr-grid"></div>
        <div class="col-md-4 ftr-grid">
          <h3 style="font-family: 'Times New Roman', Times, serif;">Địa chỉ</h3>
          <div class="ftr-address">
            <div class="local">
              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            </div>
            <div class="ftr-text">
              <p>Số 97 lô 7C Lê Hồng Phong, Ngô Quyền, Hải Phòng.</p>
            </div>
            <div class="clearfix"> </div>
          </div>

          <div class="ftr-address">
            <div class="local">
              <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
            </div>
            <div class="ftr-text">
              <p>(+84) 0834 862 522</p>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="footer-bottom">

        <div class="col-md-12 copyrights">
          <p style=" text-align: center;">© 2018 Bản quyền của trung tâm ngoại ngữ PLC </p>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
<!--footer end here-->