<!--header strat here-->
<div class="banner1 agileits">
    <div class="header">
        <div class="container">
            <div class="header-main">
                <div class="logo">
                    <h1><span class="books"></span> <a href="index.html">PLC English</a></h1>
                </div>
                <div class="top-nav">
                    <span class="menu"> <img src="../../assets/images/icon.png" alt=""></span>
                    <nav class="cl-effect-21" id="cl-effect-21">
                        <ul class="res">
                            <li><a href="/main" class="active">Trang chủ</a></li>
                            <li><a href="/about">Về chúng tôi</a></li>
                            <li><a href="shortcodes.html">Khóa học</a></li>
                            <li><a href="/login">Đăng nhập</a></li>
                            <li><a href="/contact">Liên hệ</a></li>
                        </ul>
                    </nav>
                    <!-- script-for-menu -->
                    <script>
                        $("span.menu").click(function () {
                            $("ul.res").slideToggle(300, function () {
                                // Animation complete.
                            });
                        });
                    </script>
                    <!-- /script-for-menu -->

                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--header end here-->
<!--banner end here-->
<!--tab start here-->
<script type="text/javascript" src="../../assets/js/colorfulTab.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#colorful").colorfulTab();

        $("#colorful-elliptic").colorfulTab({
            theme: "elliptic"
        });

        $("#colorful-flatline").colorfulTab({
            theme: "flatline"
        });

        $("#colorful-background-image").colorfulTab({
            theme: "flatline",
            backgroundImage: "true",
            overlayColor: "#002F68",
            overlayOpacity: "0.8"
        });

    });
</script>
<!--tab start here-->

<!--contact start here-->
<div class="contact">
    <div class="container">
        <div class="contact-main">
            <div class="contact-top">
                <h2 style="font-family: Arial, Helvetica, sans-serif;">Liên hệ</h2>
                <p>Trung tâm ngoại ngữ PLC, hãy liên hệ ngay cho chúng tôi để được tư vấn và giải đáp mọi thắc mắc</p>
            </div>
            <div class="contact-block1">
                <div class="col-md-5 contact-address">
                    <h3 style="font-family: Arial, Helvetica, sans-serif;">Thông tin liên hệ</h3>
                    <ul>
                        <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span>
                            <p>Số 97 lô 7C Lê Hồng Phong, Ngô Quyền, Hải Phòng</p>
                        </li>
                        <li><span class="glyphicon glyphicon-phone" aria-hidden="true"> </span>
                            <p>(+84) 0834 862 522</p>
                        </li>
                        <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span>
                            <p><a href="mailto:info@example.com">plc.english.vn@gmail.com
                                </a></p>
                        </li>
                        <li><span style="font-size:36px;color: #000;" class="fa fa-facebook-square" aria-hidden="true">
                            </span>
                            <p style="margin-left: 20px;"><a
                                    href="https://www.facebook.com/TrungtamngoainguPLC/">https://www.facebook.com/TrungtamngoainguPLC/
                                </a></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-7 contact-block-left">
                    <h3 style="font-family: Arial, Helvetica, sans-serif;">Đăng ký tư vấn học</h3>
                    <p style="color: #000;">Vui lòng điền đầy đủ thông tin, chuyên viên tư vấn của PLC sẽ liên lạc với
                        bạn trong vòng 24h!
                    </p>
                    <form action="#" method="post">
                        <input style="font-family: 'Times New Roman', Times, serif;" type="text"
                            placeholder="Họ tên học viên" required>
                        <input style="font-family: 'Times New Roman', Times, serif;" type="text" class="email"
                            placeholder="Ngày sinh">

                        <input style="font-family: 'Times New Roman', Times, serif;" type="text" placeholder="Email">
                        <input style="font-family: 'Times New Roman', Times, serif;" type="text" class="email"
                            placeholder="Số điện thoại">

                        <input style="font-family: 'Times New Roman', Times, serif;" type="text"
                            placeholder="Họ tên phụ huynh" required>
                        <input style="font-family: 'Times New Roman', Times, serif;" type="text" class="email"
                            placeholder="Số điện thoại phụ huynh">




                        <textarea style="font-family: 'Times New Roman', Times, serif; width: 99%;"
                            placeholder="Địa chỉ" name="message"></textarea>
                        <label
                            style="font-family: 'Times New Roman', Times, serif; font-size: 1.25em; font-weight: normal;"
                            for="sel1">Khóa học bạn quan tâm:</label>
                        <select class="form-control" id="sel1">
                            <option>Tiếng anh giao tiếp</option>
                            <option>IELTS</option>
                            <option>TOIEC</option>
                        </select>
                        <input style="font-family: 'Times New Roman', Times, serif;" type="submit" value="Đăng ký">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="contact-map">
                <iframe src="https://her.is/37NpDfK" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!--contact end here-->

<!--footer start here-->
<div class="footer w3ls">
    <div class="container">
        <div class="footer-main">
            <div class="footer-top">
                <div class="col-md-4 ftr-grid">
                    <h3 style="font-family: 'Times New Roman', Times, serif;">Giới thiệu</h3>
                    <div class="ftr-address">
                        <div class="local">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </div>
                        <div class="ftr-text">
                            <p>Ngày thành lập : 20-10-2018</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="ftr-address">
                        <div class="local">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </div>
                        <div class="ftr-text">
                            <p>Giải thưởng: Giấy chứng nhận Quốc tế về đào tạo ngoại ngữ</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="ftr-address">
                        <div class="local">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </div>
                        <div class="ftr-text">
                            <p>Email: plc.english.vn@gmail.com </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="ftr-address">
                        <div class="local">
                            <span style="font-size:24px;color: #fff; margin-left: 6px;"  class="fa fa-facebook-square" aria-hidden="true"></span>
                        </div>
                        <div class="ftr-text">
                            <p><a href="https://www.facebook.com/TrungtamngoainguPLC/">https://www.facebook.com/TrungtamngoainguPLC/
                                </a></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-2 ftr-grid"></div>
                <div class="col-md-4 ftr-grid">
                    <h3 style="font-family: 'Times New Roman', Times, serif;">Địa chỉ</h3>
                    <div class="ftr-address">
                        <div class="local">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        </div>
                        <div class="ftr-text">
                            <p>Số 97 lô 7C Lê Hồng Phong, Ngô Quyền, Hải Phòng.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="ftr-address">
                        <div class="local">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                        </div>
                        <div class="ftr-text">
                            <p>(+84) 0834 862 522</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="footer-bottom">

                <div class="col-md-12 copyrights">
                    <p style=" text-align: center;">© 2018 Bản quyền của trung tâm ngoại ngữ PLC </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--footer end here-->