<section class="content" style="margin-top: 1%">
  <div class="container-fluid">
    <mat-card>
      <mat-card-header class="card-container">
        <mat-card-title>Thông tin cá nhân</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card style="margin-top: 0.5%; background-color: aqua;">
      <div class="row">
        <div class="col-md-12" style=" padding-top: 20px; padding-bottom: 20px;">
          <div class="row">
            <div class="col-md-1" id="row_row"></div>
            <div class="col-md-3" id="row_row">
              <span><b>Mã học viên: </b></span>
            </div>
            <div class="col-md-7" id="row_row">
              <span [class]="'badge badge-primary'">
                63615
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-1" id="row_row"></div>
            <div class="col-md-3" id="row_row">
              <span><b>Họ tên: </b></span>
            </div>
            <div class="col-md-7" id="row_row">
              <span [class]="'badge badge-primary'">
                Nguyễn Viết Phương
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-1" id="row_row"></div>
            <div class="col-md-3" id="row_row">
              <span><b>Ngày sinh: </b></span>
            </div>
            <div class="col-md-7" id="row_row">
              <span [class]="'badge badge-primary'">
                10-10-1997
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-1" id="row_row"></div>
            <div class="col-md-3" id="row_row">
              <span><b>Giới tính: </b></span>
            </div>
            <div class="col-md-7" id="row_row">
              <span [class]="'badge badge-primary'">
                Nam
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-1" id="row_row"></div>
            <div class="col-md-3" id="row_row">
              <span><b>Số điện thoại: </b></span>
            </div>
            <div class="col-md-7" id="row_row">
              <span [class]="'badge badge-primary'">
                0368836763
              </span>
            </div>
          </div>


        </div>

        <div class="col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
          <label>Đổi mật khẩu</label>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <mat-form-field>
                <mat-label>Old Password</mat-label>
                <input matInput placeholder="Old Password">
              </mat-form-field>

              <mat-form-field>
                <mat-label>New Password</mat-label>
                <input type="password" matInput placeholder="New Password">

              </mat-form-field>

              <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput placeholder="Confirm Password">
              </mat-form-field>



              <button class="addAndSearch" mat-raised-button color="primary" tabindex="-1" style="float: left;">
                <mat-icon>vpn_key</mat-icon>
                Đổi mật khẩu
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</section>
