<mat-sidenav-container style="background: #f8f8f8;">
  <mat-sidenav #sidenav [mode]="mode.value">
    <div style="max-height: 100vh">
      <mat-toolbar class="brand" style="padding: 0; color: #fff; background-color: #314f60;">
        <button mat-button style="height: 100%; width: 100%">Food and Beverage</button>
      </mat-toolbar>
      <div class="content-body">
        <ng-scrollbar barClass="scrollbar" thumbClass="scrollbar-thumbs">
          <ng-material-multilevel-menu [items]='appitems'
                                       [configuration]="config"></ng-material-multilevel-menu>
        </ng-scrollbar>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="top-title">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>reorder</mat-icon>
      </button>
      <div style="width: 100%; min-width: 300px">
        <a mat-button class="nav-button" *ngIf="!isMobile" href="/sales-nextgen/order">
          <mat-icon>fastfood</mat-icon>
          Nhân viên kinh doanh
        </a>

        <a mat-button class="nav-button" *ngIf="!isMobile" href="/sales-nextgen/kitchen">
          <mat-icon>room_service</mat-icon>
          Nhà bếp
        </a>
        <button mat-button class="nav-button" *ngIf="isMobile">
          <mat-icon>fastfood</mat-icon>
        </button>
        <button mat-button class="nav-button" *ngIf="isMobile">
          <mat-icon>room_service</mat-icon>
        </button>
        <button mat-button style="float: right" [matMenuTriggerFor]="menu">
          <div class="avatar">
            <img class="rounded-circle" src="assets/images/avatar-f-03.jpg" alt="" title="">
            Hi'm Syn
          </div>

        </button>
      </div>
    </mat-toolbar>
    <div class="container-fluid">
      <div class="content-body">
        <ng-scrollbar barClass="scrollbar" thumbClass="scrollbar-thumbs">
          <router-outlet></router-outlet>
        </ng-scrollbar>
      </div>
    </div>

    <footer>
      <mat-toolbar class="footer-page">
        <span class="copyright">Bàn quyền © Công ty công nghệ thông tin VNPT-IT 2019. Phiên bản - 0.0.0.1</span>
      </mat-toolbar>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onPrintInvoice()">
    <mat-icon>supervisor_account</mat-icon>
    <span>Thông tin tài khoản</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>input</mat-icon>
    <span>Đăng xuất</span>
  </button>
</mat-menu>
